---
layout: default
title: Finch and Sky
---
<!-- Featured Blog Post -------------------->

{% for post in site.posts limit:1 %}
<section id="featured" class="grid-middle-center-noBottom-noGutter bg-cover" style="background-image:url('{{post.image}}')">
  <div class="col-6">
    <a href="{{post.url}}">
      <h2>{{post.title}}</h2>
      <p class="centered">View more</p>
    </a>
  </div>
</section>
{% endfor %}

<!-- Most Recent Blog Posts ------------------>
<section class="grid">

  {% for post in site.posts limit:6 offset:1 %}

    <!-- does the following code for each post -->
    <a href="{{post.url}}" class="col-4 post-preview">
      <article>
        <div class="bg-image" style="background-image:url('{{post.image}}')"></div>
        <div>
          <h2 class="left">{{post.title}}</h2>
          <p>{{post.description}}</p>
          <p class="view-more centered">view more</p>
        </div>
      </article>
    </a>

  {% endfor %}

</section>


<!-- Featured Post Categories ------------------>
<section id="categories" class="grid-equalHeight">

  <a href="#" class="col-4">
    <div class="grid-middle-center bg-cover do-this-not-that-bg">
    <!-- background image here -->
      <h2>Do This Not That</h2>
    </div>
  </a>
  <a href="#" class="col-4">
    <div class="grid-middle-center bg-cover packing-guides-bg">
    <!-- background image here -->
      <h2>Packing Guides</h2>
    </div>
  </a>
  <a href="#" class="col-4">
    <div class="grid-middle-center bg-cover short-trip-itinerary-bg">
      <!-- background image here -->
    <h2>Short Trip Itinerary</h2>
    </div>
  </a>
</section>

<!-- Split 2 Column Small posts display ------------------>
<section class="grid">
<!-- Food posts ------------------>
<div class="col-6 border-left">
    <h3>Food! YUM!</h3>

  {% for post in site.categories.food limit:3 %}
    <!-- does the following code for each post -->

      <a href="{{post.url}}" class="small-post-preview">
        <article class="grid">
          <div class="col-4 bg-image img-left" style="background-image:url('{{post.image}}')">
          </div>
          <div class="col-8 post-text-right">
            <h2 class="left">{{post.title}}</h2>
            <p>{{post.description}}</p>
          </div>
          <!-- <p class="view-more centered">view more</p> -->
        </article>
      </a>
  {% endfor %}

</div>
<!-- My favorite posts ------------------>
<div class="col-6 border-left">
    <h3>My Favorite</h3>
  {% for post in site.categories.featured limit:3 %}
    <!-- does the following code for each post -->

      <a href="{{post.url}}" class="small-post-preview">
        <article class="grid">
          <div class="col-4 bg-image img-left" style="background-image:url('{{post.image}}')">
          </div>
          <div class="col-8 post-text-right">
            <h2 class="left">{{post.title}}</h2>
            <p>{{post.description}}</p>
          </div>
          <!-- <p class="view-more centered">view more</p> -->
        </article>
      </a>
  {% endfor %}
</div>
</section>
