<header>
    <nav class="grid nav-top dark-bg">
      <div class="col"><a href="/work-with-me">work with me</a></div>
      <div class="col right">
        <a href="https://web.facebook.com/FinchSky-1762462977382990/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/finchandsky/" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="mailto:finchandsky@gmail.com"><i class="far fa-envelope"></i></a>
      </div>
    </nav>
    <div class="header">
      <a href="/">

        {% if page.name == 'index.html' %}
        <h1 class="logo">finch + sky</h1>
        {% else %}
        <h2 class="logo">finch + sky</h2>
        {% endif %}

        <h5>explore.dream.discover.</h5>

      </a>
    </div>


</header>

<nav id="fixed-menu" class="nav-main centered">
  <span>
    <a href="/">Home</a>
  </span>
  <span class="dropdown-nav">
    <a href="#">Places</a>
    {% include location-nav.html %}
  </span>
  <span class="dropdown-nav">
    <a href="#">Travel Tips</a>
     {% include Travel-tips-nav.html %}
  </span>
  <a href="/inspiration">Inspiration</a>
  <a href="/contact">Contact</a>
</nav>
