<div class="grid dropdown-nav-menu">
  <div class="col-2">
    <a href="#" class="col-2">
      Europe
    </a>
    <ul>
      <li>
        <a href="#">
          Germany
        </a>
      </li>
      <li>
        <a href="#">
          Italy
        </a>
      </li>
      <li>
        <a href="#">
          Spain
        </a>
      </li>
      <li>
        <a href="#">
          Iceland
        </a>
      </li>
    </ul>
  </div>
  <div class="col-2">
    <a href="#">
      Europe
    </a>
    <ul>
      <li>
        <a href="#">
          Germany
        </a>
      </li>
      <li>
        <a href="#">
          Italy
        </a>
      </li>
      <li>
        <a href="#">
          Spain
        </a>
      </li>
      <li>
        <a href="#">
          Iceland
        </a>
      </li>
    </ul>
  </div>
</div>
