<div class="grid dropdown-nav-menu">
  <div class="col-2">
    <h4> Asia </h4>
    <ul>

      <li>
        <a href="/category/japan"> Japan </a>
      </li>
      <li>
        <a href="/category/indonesia"> Indonesia </a>
      </li>
    </ul>
  </div>
  <div class="col-2">
    <h4> Europe </h4>
    <ul>

      <li>
        <a href="/category/germany"> Germany </a>
      </li>
      <li>
        <a href="/category/england"> England </a>
      </li>
    </ul>
  </div>
  <div class="col-2">
    <h4> North America </h4>
    <ul>

      <li>
        <a href="/category/canada"> Canada </a>
      </li>
      <li>
        <a href="/category/usa"> USA </a>
      </li>
      <li>
        <a href="/category/mexico"> Mexico </a>
    </ul>
  </div>
  <div class="col-2">
    <h4> South America </h4>

    <ul>
      <li>
        <a href="/category/peru"> Peru </a>
      </li>
    </ul>
  </div>
  <div class="col-2">
    <h4> Oceania </h4>
    <ul>

      <li>
        <a href="/category/australia"> Australia </a>
      </li>
      <li>
        <a href="/category/fiji"> Fiji </a>
      </li>
    </ul>
  </div>
</div>
