<div class="dropdown-content">
  <ul>
    <li>
      <span class="sub-dropdown-nav">
        <a href="#">Europe</a>
        <div class="sub-dropdown-content">
          <ul>
            <li><a href="#">Germany</a></li>
            <li><a href="#">France</a></li>
            <li><a href="#">Iceland</a></li>
            <li><a href="#">Ireland</a></li>
            <li><a href="#">England</a></li>
            <li><a href="#">Italy</a></li>
          </ul>
        </div>
      </span>
    </li>
    <li><a href="#">Africa</a></li>
    <li><a href="#">Asia</a></li>
    <li><a href="#">North America</a></li>
    <li><a href="#">Central America</a></li>
    <li><a href="#">South America</a></li>
    <li><a href="#">Ocaeania</a></li>
  </ul>
</div>
