<div id="travel-tips-dropdown" class="grid-middle-center dropdown-nav-menu">
  <div class="col-4">
    <a href="/category/do-this-not-that">
      <h3>Do This Not That</h3>
    </a>
  </div>
  <div class="col-4">
    <a href="/category/packing-guides">
      <h3>Packing Guides</h3>
    </a>
  </div>
  <div class="col-4">
    <a href="/category/itineraries">
      <h3>Itineraries</h3>
    </a>
  </div>
  <!-- <ul>
    <li><a href="/do-this-not-that">Do This Not That</a></li>
    <li><a href="/packing-guides">Packing Guides</a></li>
    <li><a href="/itineraries">Itineraries</a></li>
  </ul> -->
</div>
