---
layout: default
---

<section class="grid padded-5">
  <div class="col-12_xs-12">
    <h1>{{page.title}}</h1>
    <h3>{{page.sub-heading}}</h3>
    <nav class="centered margin-bottom">
        <a href="https://web.facebook.com/FinchSky-1762462977382990/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/finchandsky/" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="mailto:finchandsky@gmail.com"><i class="far fa-envelope"></i></a>
    </nav>
  <div class="blog-post">

  {{content}}

  </div>
</section>

<section>
  {% include gallery.html photos=page.photos %}
</section>

<section>
  <div class="padded-5 centered">
    <h3> Explore Categories </h3>
    <div>
    {% for category in site.categories %}
    <a href="/category/{{category[0]}}" class="tag"> {{category[0]}}</a>
    {% endfor %}
  </div>
  </div>
</section>
